
  <form action="/add/" method="POST">

    <label for="name">name</label>
    <input type="text" name="name" placeholder="your character name ..">

    <label for="actor">actor</label>
    <input type="text" name="voice_actor" placeholder="The actor...">

    <label for="quote">quote</label>
    <input type="text" name="quote" placeholder="give us a character quote!..">

    <label for="photo">photo</label>
    <input type="text" name="image" placeholder="Your favourite character photo!..">


    <input type="submit" value="Submit">

  </form>
