<!DOCTYPE html>
<html>
  <head>
    <title>Pixar Characters</title>
  </head>
  <body>

    <img src=''>
    <ul>
    {{#each movies}}
      <li>{{name}}</li>
    {{/each}}
    </ul>
  </body>
</html>
