<!DOCTYPE html>
<html>

<head>
  <title>Pixar Characters</title>
</head>

<body>

  <ul>
    {{#each movies}}
    <h2>{{name}}</h2> <img class='image' src='{{image}}'>
    {{/each}}
  </ul>
</body>

</html>