<!DOCTYPE html>
<html>

<head>
  <title>Pixar Characters</title>
  <link rel="stylesheet" href="../../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bangers&display=swap" rel="stylesheet">
</head>

<body>

  <ul>
    {{#each movies}}
    <h2>{{name}}</h2> <a href='/characters/{{id}}'><img class='image' src='{{image}}'></a>
    {{/each}}
  </ul>
</body>

</html>