<!DOCTYPE html>
<html>

<head>
  <title>Pixar Characters</title>
  <link rel="stylesheet" href="../../public/style.css">
</head>

<body>

  <ul>
    {{#each movies}}
    <h2>{{name}}</h2> <a href={{}}<img class='image' src='{{image}}'>
      {{/each}}
  </ul>
</body>

</html>