body {
    background-image: url(images/pixar-background.png);
    background-size: cover;
}

header {
    /* background:url("images/pixar-logo.jpg") 100% 100% no-repeat;
    background-repeat: no-repeat;
    background: */
    /* padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px; */
    

}