body {
    background-image: url(images/pixar-background.png);
    background-size: cover;
}

header {
    font-family: 'Amatic SC', cursive;
   
    

}

.charimg {
    text-align: centre;
    width: 200px;
}